.genre-toggle {
  display: flex;
  gap: 0 2rem;
  margin: 0 0 -1px;
  padding: 0;
  list-style: none;

  &__item {
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;

    &.active {
      border-bottom-color: var(--accent);
    }
  }

  &__btn {
    padding: 1.25rem 0;
    font-size: inherit;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--light);
    border: 0;
    background-color: transparent;

    &:not([disabled]) {
      cursor: pointer;

      &:hover {
        color: var(--accent-hover);
      }
    }
  }
}
