.page-header {
  min-height: 25rem;
  padding: 1.25rem 3.75rem;
  background-image: url('../images/page-header-bg.jpg');
  background-size: cover;
  background-position: center;

  &.has-modal {
    position: relative;
    z-index: 1;
  }

  &__panel {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 2rem;
  }

  .btn {
    padding: 0.625rem 1.125rem;
    font-size: 1.25rem;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--accent);
    background: rgba(#606060, 0.68);
    border: 0;
    border-radius: 0.25rem;
    cursor: pointer;

    &:not([disabled]):hover {
      color: var(--accent-hover);
    }

    &[disabled] {
      background-color: var(--dark-400);
      cursor: not-allowed;
    }
  }
}
