@import '../styles/colors.scss';

.search-form {
  max-width: 62.5rem; //1000px
  padding: 0 1.25rem;
  margin: 1rem auto;
  text-align: left;

  &__label {
    display: inline-block;
    margin-bottom: 2.25rem;
    font-size: 2.5rem;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 1.2;
    color: $light;
  }

  &__row {
    display: flex;
    gap: 0 1rem;
    height: 3.5rem;
  }

  &__input {
    flex-grow: 1;
    padding: 0 1rem;
    font-size: 1.25rem;
    font-weight: 400;
    color: $light;
    border: 0;
    border-radius: 0.25rem;
    background-color: rgb($dark-400, 0.8);
    opacity: 0.7;
    mix-blend-mode: difference;

    &::-webkit-input-placeholder {
      color: inherit;
      opacity: 0.5;
    }
  }

  &__btn {
    min-width: 14.5rem;
    font-size: 1.25rem;
    font-weight: 500;
    color: $light;
    text-transform: uppercase;
    border: 0;
    border-radius: 0.25rem;
    background-color: $accent;
    cursor: pointer;
    transition: $btn-transition;

    &:not([disabled]):hover {
      background-color: $accent-hover;
    }

    &[disabled] {
      background-color: rgb($dark-400, 0.8);
      cursor: not-allowed;
    }
  }
}
