html,
body,
#root {
  height: 100%;
}

body {
  background-color: #555;
}

.page {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
  max-width: 1260px;
  min-height: 100%;
  margin: 0 auto;
  padding: 0 30px;
}
