html,
body,
#root {
  height: 100%;
}

body {
  background-color: var(--dark-500);
}

.page {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
  max-width: 1260px;
  min-height: 100%;
  margin: 0 auto;
  padding: 0 1.875rem;
}

.page-main {
  margin-top: 0.625rem;
  padding: 0 3.75rem;
  background-color: var(--dark);

  .results-panel {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--dark-400);
  }
}

.page-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 0;
  background-color: var(--dark-400);
}

.alert {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  color: var(--light);
  border-radius: 1rem;
  background-color: var(--accent);
}
